
@{
    ViewBag.Title = "Index";
}

<h5 class="text-center display-5">Hakkımızda</h5>
<hr />
<p class="text-center mt-3">
    Otomasyonumuz bir kurumun veya kuruma ait kültür merkezlerinin düzenlediği etkinliklerin, gişe ve internet kanalları üzerinden satış, rezervasyon ve biletleme işlemlerinin yapılmasını sağlayan sistemimizdir. Geliştirmiş olduğumuz bilet otomasyon sistemimiz, kurum bünyesinde bulunan mevcut bilet sistemlerinin muhasebe modülleri ile web servisler aracılığıyla tam entegre bir şekilde çalışabilmektedir. Bilet otomasyon sistemimiz ücretli operasyonların dışında, ücretsiz operasyonların biletlemesi için de kullanılabilmektedir. Bilet Otomasyon Sistemi ihtiyaçlarınız doğrultusunda sizlere en doğru çözümü sunacak ve sizleri hep bir adım önde tutacaktır.
</p>

<div class="d-flex justify-content-center">
    <img height="390" width="1100" src="../../Content/Img/bus_main.jpg"/>
</div>